<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="CSProfilesConnectionString" connectionString="Data Source=BTDEVSQL01\commerce26ld; Initial Catalog=NextGen_Profiles; Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="CSMarketingService" value="http://localhost:100/TS360_MarketingWebService/marketingwebservice.asmx"/>
    <add key="CSProfilesService" value="http://localhost:100/TS360_profilesWebService/profileswebservice.asmx"/>
    <add key="CSOrdersService" value="http://localhost:100/TS360_ordersWebService/orderswebservice.asmx"/>
    <add key="CSCatalogService" value="http://localhost:100/TS360_catalogWebService/catalogwebservice.asmx"/>
    <add key="CSSqlConnString" value="Provider=CSOLEDB;Data Source=128.11.98.245\COMMERCESERVERR2;Initial Catalog=Nextgen_profiles;Integrated Security=SSPI;"/>
    <add key="RegistryKey" value="HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Commerce Server 2007 Keys\TS360"/>
    <add key="IsLogging" value="True"/>
    <add key="PurgeBasketThresholdInDays" value="90"/>
    <add key ="SiteName" value="Nextgen"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BTWSHttpBinding" openTimeout="00:02:00" sendTimeout="00:02:00"
        maxReceivedMessageSize="524288">
          <readerQuotas maxDepth="10" maxStringContentLength="524288" maxArrayLength="16384"
           maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="TransportWithMessageCredential" />
        </binding>

        <binding>
          <readerQuotas maxDepth="15" maxStringContentLength="524288" maxArrayLength="16384"
           maxBytesPerRead="4096" maxNameTableCharCount="16384" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint binding="basicHttpBinding" bindingConfiguration="BTWSHttpBinding"
        contract="IMetadataExchange" name="wsHttpEndpoint" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

</configuration>
