<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <configSections>
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
      <section name="errorTweet" requirePermission="false" type="Elmah.ErrorTweetSectionHandler, Elmah" />
    </sectionGroup>

    <section name="dataCacheClient" type="Microsoft.ApplicationServer.Caching.DataCacheClientSection, Microsoft.ApplicationServer.Caching.Core, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" allowLocation="true" allowDefinition="Everywhere" />
  </configSections>

  <dataCacheClient requestTimeout="60000" channelOpenTimeout="3000" maxConnectionsToServer="14">
    <localCache isEnabled="false" sync="TimeoutBased" ttlValue="480" objectCount="10000"/>
    <clientNotification pollInterval="900" maxQueueLength="10000"/>
    <hosts>
      <!-- should be changed to same value with "CacheClusterServer" in GlobalConfiguration list, each server + port in one line -->
      <host name="BTDEVPOC2.btdev.com" cachePort="22233"/>
    </hosts>
    <securityProperties mode="Transport" protectionLevel="None" />
    <transportProperties connectionBufferSize="131072" maxBufferPoolSize="268435456"
						   maxBufferSize="268435456" maxOutputDelay="2" channelInitializationTimeout="60000"
						   receiveTimeout="600000"/>
  </dataCacheClient>
  
  <connectionStrings>
    <add name="OrderDbConnString" connectionString="Password=DanCao;Persist Security Info=True;User ID=dancao;Initial Catalog=Orders;Data Source=BTDevSQL01\RepositoryLD1;Connect Timeout=3000" />
  </connectionStrings>
  <appSettings>
    <add key="DistributedCacheName" value="BT_Default" />
    <add key="DistributedCacheRegion" value="DEV" />
    <add key="DistributedCacheDuration" value="480" />
    
    <add key="NextGenProfilesConnectionString" value="Password=DanCao;Persist Security Info=True;User ID=dancao;Initial Catalog=Nextgen_profiles;Data Source=BTDevSQL01\RepositoryLD1;Connect Timeout=3000" />
    <add key="MarketingConnectionString" value="Password=DanCao;Persist Security Info=True;User ID=dancao;Initial Catalog=Nextgen_marketing;Data Source=BTDevSQL01\RepositoryLD1;Connect Timeout=3000" />
    <add key="ProductCatalog_ConnectionString" value="Password=DanCao;Persist Security Info=True;User ID=dancao;Initial Catalog=ProductCatalog;Data Source=BTDevSQL01\RepositoryLD1;Connect Timeout=3000" />
    <add key="OrderDbConnString" value="Password=DanCao;Persist Security Info=True;User ID=dancao;Initial Catalog=Orders;Data Source=BTDevSQL01\RepositoryLD1;Connect Timeout=3000" />
    <add key="Logs_ConnectionString" value="Persist Security Info=False;Initial Catalog=ExceptionLogging;Data Source=(local);Connect Timeout=300" />
    <add key="Profiles_ConnectionString" value="Password=DanCao;Persist Security Info=True;User ID=dancao;Initial Catalog=Profiles;Data Source=BTDevSQL01\RepositoryLD1;Connect Timeout=3000" />
    
    <add key="Timer1IntervalSeconds" value="60"/>
    <add key="ILSOrderThresholdLimit" value="2" />
    <add key="NumberOfILSThreads" value="4" />
    <add key="ILSBaseAddress" value="https://sandbox.iii.com"/>
    <add key="ILSOrderValidatePath" value="/acquisitions/orders/validate"/>
    <add key="ILSSubmitOrderPath" value="/acquisitions/orders"/>
    <add key="ILSAuthorizePath" value="/OAuth/Authorize"/>
    <add key="ILSTokenPath" value="/token"/>
    <add key="ILSInsertLogApiUrl" value="http://5.0.242.15:8012/SD4/ils/saveapirequest"/>
    <add key="ILSGetLogApiUrl" value="http://5.0.242.15:8012/SD4/ils/apirequest"/>
    <add key="ILSVendor" value="vend1"/>
    <add key="CachingDurationForProfileInfo" value="30"/>
    
    <add key="ILSMaxRetryCount" value="2" />
    <add key="ILSRetryDelayInSecond" value="5" />

    <add key="Encryption.IV" value="beoY1GUfY4dRqQji78uG8g==" />
    <add key="Encryption.Key" value="eivA6PaE57gZGgecVqv2DP5LXitDD5zJkntw9nfBfXs=" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ProfilesWebServiceSoap" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Ntlm" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IMARCProfiler" />
      </basicHttpBinding>
     </bindings>
    <client>
      <endpoint address="http://localhost:8081/Nextgen_ProfilesWebService/ProfilesWebService.asmx" binding="basicHttpBinding" bindingConfiguration="ProfilesWebServiceSoap" contract="CSProfileServiceReference.ProfilesWebServiceSoap" name="ProfilesWebServiceSoap" />
      <endpoint address="http://5.0.242.11:9090/LD4/MarcProfilerService/MARCProfiler.svc"  binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMARCProfiler"  contract="MARCProfilerService.IMARCProfiler" name="BasicHttpBinding_IMARCProfiler" />
    </client>
  </system.serviceModel>
  
  
</configuration>