
    <style>
        #customers {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

            #customers td, #customers th {
                border: 1px solid #ddd;
                padding: 8px;
            }

            #customers tr:nth-child(even) {
                background-color: #f2f2f2;
            }

            #customers tr:hover {
                background-color: #ddd;
            }

            #customers th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
                background-color: #5D6D7E;
                color: white;
            }
    </style>

<br />
    <table id="customers">
    <tr>
        <th>Code</th>
        <th>Description</th>

    </tr>
    <tr>
        <td>0</td>
        <td>Succeed</td>

    </tr>
  <!----  <tr>
        <td>-1</td>
        <td>Unexpected exception</td>

    </tr>
    <tr>
        <td>-2</td>
        <td>Timeout exception</td>

    </tr>-->
    <tr>
        <td>100</td>
        <td>Invalid parameter – {since}</td>

    </tr>
    <tr>
        <td>101</td>
        <td>Invalid or organization not found</td>

    </tr>
    <tr>
        <td>102</td>
        <td>Inactive organization</td>
    </tr>
    <tr>
        <td>103</td>
        <td>User not found</td>

    </tr>
    <tr>
        <td>104</td>
        <td>Invalid Cart Name</td>

    </tr>
    <tr>
        <td>105</td>
        <td>Missing User ID</td>

    </tr>
    <tr>
        <td>106</td>
        <td>Missing ESPLibrary ID</td>

    </tr>
    <tr>
        <td>107</td>
        <td>Missing ESPCart ID</td>

    </tr>
    <tr>
        <td>108</td>
        <td>Missing cart name</td>

    </tr>
    <tr>
        <td>109</td>
        <td>Inactive user</td>

    </tr>
    <tr>
        <td>200</td>
        <td>Items validation failed</td>

    </tr>
    <tr>
        <td>201</td>
        <td>ESP LibraryID does not match user</td>

    </tr>
    <tr>
        <td>202</td>
        <td>No DupCheck information found</td>

    </tr>
    <tr>
        <td>203</td>
        <td>Products validation failed</td>

    </tr>
    <tr>
        <td>210</td>
        <td>Product lists beyond threshold value</td>

    </tr>
    <tr>
        <td>211</td>
        <td>User Preference of Dupe Check is not in defined set</td>

    </tr>
    <tr>
        <td>212</td>
        <td>Invalid Dupe Check Type</td>
    </tr>
    <tr>
        <td>500</td>
        <td>Unexpected exception</td>

    </tr>
    <tr>
        <td>510</td>
        <td>Timeout exception</td>

    </tr>
    <tr>
        <td>520</td>
        <td>Invalid input request</td>

    </tr>
</table>
