<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BT.ILSQueue.Business.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <BT.ILSQueue.Business.Properties.Settings>
            <setting name="BT_ILSQueue_Business_MARCProfilerReference_MARCProfiler"
                serializeAs="String">
                <value>http://az1ebnttsd4ap01.btdev.com:9090/MARCProfilerService/MARCProfiler.svc</value>
            </setting>
        </BT.ILSQueue.Business.Properties.Settings>
    </applicationSettings>

</configuration>