<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="BT.TS360API.Common.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ContentCafeSoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="ContentCafeSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://contentcafe2.btol.com/ContentCafe/ContentCafe.asmx"
        binding="basicHttpBinding" bindingConfiguration="ContentCafeSoap"
        contract="contentcafe2.ContentCafeSoap" name="ContentCafeSoap" />
      <endpoint address="http://contentcafe2.btol.com/ContentCafe/ContentCafe.asmx"
        binding="customBinding" bindingConfiguration="ContentCafeSoap12"
        contract="contentcafe2.ContentCafeSoap" name="ContentCafeSoap12" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <BT.TS360API.Common.Properties.Settings>
      <setting name="BT_TS360API_Common_BTPricingService_BTPricingService"
        serializeAs="String">
        <value>http://edidev.btol.com/BTPricingServices/BTPricingServices.asmx</value>
      </setting>
    </BT.TS360API.Common.Properties.Settings>
  </applicationSettings>
</configuration>