<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="MerchantConfig" type="System.Configuration.NameValueFileSectionHandler" />
  </configSections>
  <appSettings>
    <add key="Environment" value="Local:" />
    <add key="runEnvironment" value="apitest.cybersource.com" />
    <add key="LogFolder" value="D:\Ts360\cybersource\logs\" />
    <add key="ArchiveFolder" value="D:\Ts360\cybersource\archive\" />
    <add key="TolasFolderPB" value="D:\Ts360\cybersource\tolaspb\" />
    <add key="TolasFolderTR" value="D:\Ts360\cybersource\tolastr\" />
    <add key="LogFilePrefix" value="cybersource" />
    <add key="EmailOnSuccess" value="true" />
    <add key="EmailOnFailure" value="true" />
    <add key="EmailToRecipients" value="selfj@baker-taylor.com" />
    <add key="EmailServer" value="5.0.110.24" />
    <add key="RunPaymentBatchRequest_btpp" value="true" />
    <add key="RunPaymentBatchRequest_bt" value="true" />
    <add key="RunPaymentBatchRequest_majors" value="true" />
    <add key="RunTransactionRequest_btpp" value="true" />
    <add key="RunTransactionRequest_bt" value="true" />
    <add key="RunTransactionRequest_majors" value="false" />
    <add key="PBReportName" value="PaymentBatchC_TOLAS" />
    <add key="TRReportName" value="TransRequestC_TOLAS" />    
    <add key="DaysBack" value="0" />
    <add key="merchantsecretKey_btpp" value="VhECEy8MO+0Wlwhvn8UYh19lHZB7si5vEm21fAlvOxQ=" />
    <add key="merchantsecretKey_bt" value="0fFlnO+HhWxXZmFVP1r0hS0hmUQeYatho+IjQprxPK8=" />
    <add key="merchantsecretKey_majors" value="G65PrIkYbJOe/6/Y5GIcXmOIaUz0gEpPmHhxOcwWj+k=" />
    <add key="merchantkeyid_btpp" value="80abe566-db30-4daa-a091-2dce5d430438" />
    <add key="merchantkeyid_bt" value="82af4d62-9583-443d-ab60-4e9bf012726f" />
    <add key="merchantkeyid_majors" value="06bcb750-2e5a-4290-a838-019cc4eff423" />
    <!--add key="merchantsecretKey_btpp" value="oeAS8c7StrjtBoMrrMsFDUdv6RmB4RkDXX/ueNYrqfg=" />
    <add key="merchantsecretKey_bt" value="9UiMVCLGnNEb2zRKkmIYF0D57o9zjrDyte8C4W62NCI=" />
    <add key="merchantsecretKey_majors" value="l0yMRy02Ipt6LHjfjuAVDZbVP5ayg/b9k1Zp67GM5Lw=" />
    <add key="merchantkeyid_btpp" value="f91dfc99-259c-4930-b435-9b2d79a68edd" />
    <add key="merchantkeyid_bt" value="f0c9929b-1e22-4692-b688-cf533b8f427a" />
    <add key="merchantkeyid_majors" value="6618bfd1-e55b-456f-bcc9-7fd69b05fbad" />
    <add key="ClientSettingsProvider.ServiceUri" value="" /-->
  </appSettings>
  <MerchantConfig>
    <!--HTTP_SIGNATURE and JWT-->
    <add key="authenticationType" value="HTTP_SIGNATURE" />
    <add key="merchantID" value="testrest" />
    <add key="runEnvironment" value="apitest.cybersource.com" />
    <add key="timeout" value="100000" />
    <!--In Millisec-->
    <!--Log Related-->
    <add key="enableLog" value="true" />
    <add key="logFileMaxSize" value="835435" />
    <!--In bytes-->
    <!--<add key="logDirectory" value=""/>-->
    <!--<add key="logFileName" value="cybs.log"/>-->
    <!--Proxy Settings-->
    <!--<add key="proxyAddress" value="userproxy.com"/>
      <add key="proxyPort" value=""/>-->
    <!--JWT Parameters-->
    <add key="keyAlias" value="testrest" />
    <add key="keyPass" value="testrest" />
    <!--P12 File Parameters-->
    <add key="keysDirectory" value="Resource" />
    <add key="keyFilename" value="testrest" />
    <!--HTTP_Signature Parameters-->
    <add key="merchantsecretKey" value="yBJxy6LjM2TmcPGu+GaJrHtkke25fPpUX+UY6/L/1tE=" />
    <add key="merchantKeyId" value="08c94330-f618-42a3-b09d-e1e43be5efda" />
  </MerchantConfig>
  <system.net>
    <defaultProxy enabled="true" useDefaultCredentials="true">
    </defaultProxy>
  </system.net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="RestSharp" publicKeyToken="598062e77f915f75" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-106.5.4.0" newVersion="106.5.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>