<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ProfilesWebServiceSoap" />
                <binding name="StockCheckSoap" />
                <binding name="BasicHttpBinding_IMARCProfiler" />
                <binding name="TrackBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="TrackBinding1" />
            </basicHttpBinding>
            <customBinding>
                <binding name="StockCheckSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:100/TS360_ProfilesWebService/ProfilesWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="ProfilesWebServiceSoap"
                contract="CSProfileServiceReference.ProfilesWebServiceSoap"
                name="ProfilesWebServiceSoap" />
            <endpoint address="http://edidev.btol.com/BTStockCheckServices/BTStockCheckServices.asmx"
                binding="basicHttpBinding" bindingConfiguration="StockCheckSoap"
                contract="BTStockCheckServices.StockCheckSoap" name="StockCheckSoap" />
            <endpoint address="http://edidev.btol.com/BTStockCheckServices/BTStockCheckServices.asmx"
                binding="customBinding" bindingConfiguration="StockCheckSoap12"
                contract="BTStockCheckServices.StockCheckSoap" name="StockCheckSoap12" />
            <endpoint address="http://5.0.242.11:9090/LD1/MarcProfilerService/MARCProfiler.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMARCProfiler"
                contract="MARCProfilerService.IMARCProfiler" name="BasicHttpBinding_IMARCProfiler" />
            <endpoint address="https://wwwcie.ups.com/webservices/Track"
                binding="basicHttpBinding" bindingConfiguration="TrackBinding"
                contract="UPSTrackingReference.TrackPortType" name="TrackPort" />
        </client>
    </system.serviceModel>
</configuration>