<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ESPWinServices.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ESPWinServices.My.MySettings.OrdersConnectionString"
            connectionString="Data Source=BTDEVSQL01\RepositoryLD2;Initial Catalog=Orders;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ESPWinServices.My.MySettings.NextGen_ProfilesConnectionString"
            connectionString="Data Source=BTDEVSQL01\RepositoryLD2;Initial Catalog=NextGen_Profiles;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ESPWinServices.My.MySettings.ExceptionLoggingConnectionString"
            connectionString="Data Source=BTDEVSQL01\RepositoryLD2;Initial Catalog=ExceptionLogging;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <applicationSettings>
        <ESPWinServices.My.MySettings>
            <setting name="LogDir" serializeAs="String">
                <value>c:\BizTalkServer\ProcessedFiles\ESPWinServices</value>
            </setting>
            <setting name="LibraryPollingIntervalSeconds" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="LibraryEnablePolling" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ESPBaseURI" serializeAs="String">
                <value>http://esp.test.collectionhq.co.uk/esp/</value>
            </setting>
            <setting name="DebugLogging" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SMTPServer" serializeAs="String">
                <value>5.0.110.24</value>
            </setting>
            <setting name="SMTPAuth" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SMTPUser" serializeAs="String">
                <value>Unused</value>
            </setting>
            <setting name="SMTPPass" serializeAs="String">
                <value>Unused</value>
            </setting>
            <setting name="Environment" serializeAs="String">
                <value>LocalDev</value>
            </setting>
            <setting name="GetLibrariesRetryCount" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="CartJobsIntervalSeconds" serializeAs="String">
                <value>240</value>
            </setting>
            <setting name="ESPCartsEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CartJobsRetryCount" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="CartJobsRetryIntervalSecs" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="VendorKey" serializeAs="String">
                <value>VFMzNjA6Z2g4NGhqZWRmODNramRm</value>
            </setting>
            <setting name="WorkingDir" serializeAs="String">
                <value>c:\BizTalkServer\ProcessedFiles\ESPWinServices\Working</value>
            </setting>
            <setting name="ReprocessRankDir" serializeAs="String">
                <value>c:\BizTalkServer\Reprocess\ESPCartRank</value>
            </setting>
            <setting name="ReprocessDistDir" serializeAs="String">
                <value>c:\BizTalkServer\Reprocess\ESPCartDist</value>
            </setting>
            <setting name="ReprocessFundDir" serializeAs="String">
                <value>c:\BizTalkServer\Reprocess\ESPCartFund</value>
            </setting>
            <setting name="APIVersion" serializeAs="String">
                <value>3.4</value>
            </setting>
            <setting name="GetLibrariesMinuteRange" serializeAs="String">
                <value>05,15</value>
            </setting>
            <setting name="CartDistTimeoutInMinute" serializeAs="String">
                <value>30</value>
            </setting>
        </ESPWinServices.My.MySettings>
    </applicationSettings>
</configuration>
