<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!--<add name="ConnectionString" connectionString="Data Source=CS2009VM-1110;Initial Catalog=CustomDEV; Integrated Security=True"
      providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString" connectionString="Data Source=BTDEVSQL\REPOSITORY20B;Initial Catalog=ProductCatalog; Integrated Security=True"
      providerName="System.Data.SqlClient" />-->

    <add name="ConnectionString" connectionString="Data Source=bwt-it1-gulutz;Initial Catalog=MarcTest; User Id=mahesh; Password=mahesh "
      providerName="System.Data.SqlClient" />

    <add name="OrdersConnectionString" connectionString="Data Source=BTDEVSQL\REPOSITORY; Initial Catalog=Orders; Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="ProductCatalogConnectionString" connectionString="Data Source=BTDEVSQL\REPOSITORY; Initial Catalog=ProductCatalog; Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="SQLCommandTimeout" value="1800" />
    <add key="EmailTo"  value="selfj@baker-taylor.com"/>
    <add key="EmailToExceptions"  value="selfj@baker-taylor.com"/>
    <add key="EmailServer"  value="5.0.110.24"/>
    <add key="FTPLocalFolder"  value="Temp"/>
    <add key="FTPLogFileName"   value="marc_ftp_log.txt" />
    <add key="DOWNLOADLogFileName"   value="marc_download_log.txt" />
    <add key="DOWNLOADLocalFolder"  value="Temp"/>
    <add key="LogDetails"   value="false" />
    <add key="ArchiveInventoryMessage" value ="true"/>
    <add key="SPSiteURLUpload" value="http://ts360devauth.baker-taylor.com"/>
    <add key="SPSiteURLDownload" value="http://ts360dev.baker-taylor.com"/>
    <add key="SPMarcFileName" value="output.mrc"/>
    <add key="SPDocLibraryName" value="sites/Publishing/MARCDownloadFiles"/>
    <add key="SPUser" value="spadmin" />
    <add key="SPPass" value="*******" />
    <add key="SPDomain" value="BTDEV"/>
    <add key="SPLocalFolder"  value="Temp"/>
    <add key="MarcFTPTESTSourceFile" value ="xxx"/>
    <add key="InventoryServiceUrl" value="http://5.0.242.15:8012/SD1/products/inventorydemand"/>
    <add key="Environment" value ="LD1-"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>

    <!--<bindings>
      <basicHttpBinding>
       <binding name="basicHttpMtomBinding" messageEncoding="Mtom" />
      </basicHttpBinding>
    </bindings>-->

    <!--<services>
      <service behaviorConfiguration="Behavior1" name="MARCProfiler">
        <endpoint binding="basicHttpBinding" bindingConfiguration="basicHttpMtomBinding" contract="IMARCProfiler"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetaDataExchange"/>
     </service>
    </services>-->
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IUserAlerts" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IUserAlerts1" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://5.0.116.90/IUserAlerts/UserAlerts.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserAlerts"
        contract="ServiceReference1.UserAlerts.IUserAlerts" name="BasicHttpBinding_IUserAlerts" />
      <endpoint address="http://5.0.116.90/IUserAlerts/UserAlerts.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserAlerts1"
        contract="ServiceReference1.UserAlerts.IUserAlerts" name="BasicHttpBinding_IUserAlerts1" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

</configuration>
