<div class="jumbotron">
    <h1>TS360</h1>
    <p class="lead">Title Selection Scalability project (TSS) - Integrated with ESP Enterprise and TS 360 functionality</p>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Authentication and Authorization</h2>
        <p>TS360 API uses the OAuth 2.0 authorization framework. The API supports the Client Credentials Grant and Refresh Token.</p>
        <p><a class="btn btn-default" href="https://oauth.net/2/">Learn more &raquo;</a></p>
    </div>
  <div class="col-md-6">
        <h2>Resources and Responses</h2>
        <p>TS360 API is a RESTful API which can perform requests and receive responses via HTTP protocol such as GET and POST. It supports HTTPs and can be used by practically any programming language and easy to test.
        </p>
        <p><a class="btn btn-default" href="/Help">Learn more &raquo;</a></p>
    </div>
    
</div>
