<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  
  <log4net>
    <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\ETSBackgroundTrace.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="50" />
      <maximumFileSize value="5MB" />
      <staticLogFileName value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level - %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG" />
        <levelMax value="FATAL" />
      </filter>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="FileAppender" />
    </root>
  </log4net>
  
  <appSettings>
    <add key="TimerInterval" value="60" /> <!-- value in second -->
    
    <add key="EmailTo" value="phuc.bui@baker-taylor.com;tho.pham@baker-taylor.com" />
    <add key="EmailSMTPServer" value="5.0.110.24" />
    <add key="Environment" value="DEV1" />
    
    <add key="UpdatedBy" value="ETS Service" />
    <!--<add key="LogLocation" value="E:\BizTalkServer\ProcessedFiles\ETS" />-->
    <add key="VerboseLogging" value="True" />
    <add key="ServiceName" value="ETSBackgroundQueue" />
    
    <add key="AppSearchServiceURL" value="http://btdevnextgapp:6500/ServicesAPI/appservice/searchservice" />
    <add key="NoSqlApiUrl" value="http://5.0.242.15:8012/sd1" />
    <add key="WebRequestTimeOutInSec" value="120" />
    <add key="Orders_ConnectionString" value="Persist Security Info=True;Initial Catalog=Orders;Password=P@ssword123;User ID=tdo;Data Source=BTDevSQL05\RepositoryLD1;Connect Timeout=3000" />
    <add key="MongoDBConnectionString" value="mongodb://ETSBackgroundService:cG4Y6wCHbMnFo1XZ@dev1-shard-00-00-e827s.mongodb.net:27017,dev1-shard-00-01-e827s.mongodb.net:27017,dev1-shard-00-02-e827s.mongodb.net:27017/test?ssl=true&amp;replicaSet=DEV1-shard-0&amp;authSource=admin"/>
  
    <!--<add key="MongoDBConnectionString" value="mongodb://localhost:27017"/>-->
    <add key="MaxConnectionRetries" value="5" />
    <add key="RetryWaitTime" value="1000" />
    <add key="MaxQueueItemNumber" value="3" />

    <add key="EspReceivePricingUrl" value="https://api.test.esp-dev.net/esp/enterprise/receivePricing" />
    <add key="EspReceiveDupCheckUrl" value="https://api.test.esp-dev.net/esp/enterprise/receiveDupCheck" />
    <add key="EspReceiveCartReceivedUrl" value="https://api.test.esp-dev.net/esp/enterprise/receiveCartConfirmation" />
    <add key="EspVendorKey" value="1f3f66f1-d736-4173-a921-33ad31a6eea3" />

    <!-- periods in seconds to retry sending results to ETS -->
    <add key="RetryPeriods" value="30;60;90" />
    <add key="MongoRetryValues" value="1000;10000;60000;120000;180000;"/>
    <add key="SearchServiceRetryValues" value="30;60;90" />

    <add key="MaxDupeCheckBatchSize_CH" value="30" />
    <add key="MaxDupeCheckBatchSize_O" value="500" />
    <add key="MaxDupeCheckBatchSize_S" value="30" />
    <add key="MaxPricingBatchSize" value="30" />

  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
