<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <configSections>
    <!--  COMMERCE SERVER CONFIGURATION SECTION HANDLERS
			These configuration sections are required for the Commerce Server .NET Application
			Framework to function properly.  They must be registered using the strong name for the
			assemblies.
		-->
    <sectionGroup name="CommerceServer">
      <section name="application" type="Microsoft.CommerceServer.Runtime.Configuration.CommerceApplicationSectionHandler, Microsoft.CommerceServer.Runtime, Version=6.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <section name="pipelines" type="Microsoft.CommerceServer.Runtime.Configuration.CommercePipelineSectionHandler, Microsoft.CommerceServer.Runtime, Version=6.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <section name="caches" type="Microsoft.CommerceServer.Runtime.Configuration.CommerceCacheSectionHandler, Microsoft.CommerceServer.Runtime, Version=6.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <section name="messageManager" type="Microsoft.CommerceServer.Runtime.Configuration.CommerceMessageManagerSectionHandler, Microsoft.CommerceServer.Runtime, Version=6.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <section name="catalog" type="Microsoft.CommerceServer.Runtime.Configuration.CommerceCatalogSectionHandler, Microsoft.CommerceServer.Runtime, Version=6.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <section name="orders" type="Microsoft.CommerceServer.Runtime.Configuration.CommerceOrdersSectionHandler, Microsoft.CommerceServer.Runtime, Version=6.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <section name="profiles" type="Microsoft.CommerceServer.Runtime.Configuration.CommerceProfilesSectionHandler, Microsoft.CommerceServer.Runtime, Version=6.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <section name="expressions" type="Microsoft.CommerceServer.Runtime.Configuration.CommerceExpressionSectionHandler, Microsoft.CommerceServer.Runtime, Version=6.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <section name="ordersWebService" type="Microsoft.CommerceServer.Orders.Configuration.OrdersWebServiceSectionHandler, Microsoft.CommerceServer.Orders.DataManagement, Version=6.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=BTDEVSQL\REPOSITORY;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="OrdersConnectionString" connectionString="Data Source=BTDEVSQL\REPOSITORY; Initial Catalog=Orders; Integrated Security=True" 
      providerName="System.Data.SqlClient" /> 
  </connectionStrings>
  <CommerceServer>
    <orders honorStatus="true" newOrderStatus="NewOrder" sqlCommandTimeoutSeconds="60" sqlLongRunningCommandTimeoutSeconds="28800">
      <addressMap>
        <profileDefinition name="Address" />
        <property from="GeneralInfo.address_id" to="OrderAddressId" />
        <property from="GeneralInfo.first_name" to="FirstName" />
        <property from="GeneralInfo.last_name" to="LastName" />
        <property from="GeneralInfo.address_line1" to="Line1" />
        <property from="GeneralInfo.address_line2" to="Line2" />
        <property from="GeneralInfo.city" to="City" />
        <property from="GeneralInfo.region_code" to="RegionCode" />
        <property from="GeneralInfo.postal_code" to="PostalCode" />
        <property from="GeneralInfo.country_name" to="CountryName" />
        <property from="GeneralInfo.region_name" to="State" />
        <property from="GeneralInfo.tel_number" to="DaytimePhoneNumber" />
      </addressMap>
      <Types>
        <Type Key="Basket" UserTypeName="Basket" AssemblyType="GAC" NameSpace="Microsoft.CommerceServer.Runtime.Orders" Assembly="Microsoft.CommerceServer.Runtime, Version=6.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <!--<Type Key="PurchaseOrder" UserTypeName="PurchaseOrder" AssemblyType="GAC" NameSpace="Microsoft.CommerceServer.Runtime.Orders" Assembly="Microsoft.CommerceServer.Runtime, Version=6.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>-->
        <Type Key="PurchaseOrder" UserTypeName="PurchaseOrderEx" AssemblyType="GAC" NameSpace="BTNextGen.Commerce.Portal.Common" Assembly="BTNextGen.Commerce.Portal.Common, Version=1.0.0.0, Culture=neutral, PublicKeyToken=aae20afbbe14a27c" />
        <Type Key="OrderTemplate" UserTypeName="OrderTemplate" AssemblyType="GAC" NameSpace="Microsoft.CommerceServer.Runtime.Orders" Assembly="Microsoft.CommerceServer.Runtime, Version=6.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />


        <!--<Type Key="OrderForm" UserTypeName="OrderForm" AssemblyType="GAC" NameSpace="Microsoft.CommerceServer.Runtime.Orders" Assembly="Microsoft.CommerceServer.Runtime, Version=6.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>-->
        <Type Key="OrderForm" UserTypeName="OrderFormEx" AssemblyType="GAC" NameSpace="BTNextGen.Commerce.Portal.Common" Assembly="BTNextGen.Commerce.Portal.Common, Version=1.0.0.0, Culture=neutral, PublicKeyToken=aae20afbbe14a27c" />
        <!--  Chinh's code to extend OrderForms end-->


        <!--<Type Key="LineItem" UserTypeName="LineItem" AssemblyType="GAC" NameSpace="Microsoft.CommerceServer.Runtime.Orders" Assembly="Microsoft.CommerceServer.Runtime, Version=6.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>-->
        <!-- BTNG Custom -->
        <Type Key="LineItem" UserTypeName="LineItemEx" AssemblyType="GAC" NameSpace="BTNextGen.Commerce.Portal.Common" Assembly="BTNextGen.Commerce.Portal.Common, Version=1.0.0.0, Culture=neutral, PublicKeyToken=aae20afbbe14a27c" />
        <!-- BTNG Custom End-->
        <Type Key="Shipment" UserTypeName="Shipment" AssemblyType="GAC" NameSpace="Microsoft.CommerceServer.Runtime.Orders" Assembly="Microsoft.CommerceServer.Runtime, Version=6.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <Type Key="Payment" UserTypeName="Payment" AssemblyType="GAC" NameSpace="Microsoft.CommerceServer.Runtime.Orders" Assembly="Microsoft.CommerceServer.Runtime, Version=6.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <!--<Type Key="CreditCardPayment" UserTypeName="CreditCardPayment" AssemblyType="GAC" NameSpace="Microsoft.CommerceServer.Runtime.Orders" Assembly="Microsoft.CommerceServer.Runtime, Version=6.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>-->
        <!-- BTNG Custom -->
        <Type Key="CreditCardPayment" UserTypeName="CreditCardPaymentEx" AssemblyType="GAC" NameSpace="BTNextGen.Commerce.Portal.Common" Assembly="BTNextGen.Commerce.Portal.Common, Version=1.0.0.0, Culture=neutral, PublicKeyToken=aae20afbbe14a27c" />
        <!-- BTNG Custom End -->
        <Type Key="GiftCertificatePayment" UserTypeName="GiftCertificatePayment" AssemblyType="GAC" NameSpace="Microsoft.CommerceServer.Runtime.Orders" Assembly="Microsoft.CommerceServer.Runtime, Version=6.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <Type Key="PurchaseOrderPayment" UserTypeName="PurchaseOrderPayment" AssemblyType="GAC" NameSpace="Microsoft.CommerceServer.Runtime.Orders" Assembly="Microsoft.CommerceServer.Runtime, Version=6.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <Type Key="CashCardPayment" UserTypeName="CashCardPayment" AssemblyType="GAC" NameSpace="Microsoft.CommerceServer.Runtime.Orders" Assembly="Microsoft.CommerceServer.Runtime, Version=6.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <Type Key="ACHPayment" UserTypeName="ACHPayment" AssemblyType="GAC" NameSpace="BTNextGen.Commerce.Portal.Common" Assembly="BTNextGen.Commerce.Portal.Common, Version=1.0.0.0, Culture=neutral, PublicKeyToken=aae20afbbe14a27c" />
        <!--<Type Key="OrderAddress" UserTypeName="OrderAddress" AssemblyType="GAC" NameSpace="Microsoft.CommerceServer.Runtime.Orders" Assembly="Microsoft.CommerceServer.Runtime, Version=6.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>-->
        <Type Key="OrderAddress" UserTypeName="OrderAddressEx" AssemblyType="GAC" NameSpace="BTNextGen.Commerce.Portal.Common" Assembly="BTNextGen.Commerce.Portal.Common, Version=1.0.0.0, Culture=neutral, PublicKeyToken=aae20afbbe14a27c" />
        <Type Key="DiscountApplicationRecord" UserTypeName="DiscountApplicationRecord" AssemblyType="GAC" NameSpace="Microsoft.CommerceServer.Runtime.Orders" Assembly="Microsoft.CommerceServer.Runtime, Version=6.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <Type Key="ShippingDiscountRecord" UserTypeName="ShippingDiscountRecord" AssemblyType="GAC" NameSpace="Microsoft.CommerceServer.Runtime.Orders" Assembly="Microsoft.CommerceServer.Runtime, Version=6.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <Type Key="PromoCodeRecord" UserTypeName="PromoCodeRecord" AssemblyType="GAC" NameSpace="Microsoft.CommerceServer.Runtime.Orders" Assembly="Microsoft.CommerceServer.Runtime, Version=6.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </Types>
      <Limits OrderFormsPerOrderGroup="5" PromoCodeRecordsPerOrderForm="10" PromoCodesPerOrderForm="10" LineItemsPerOrderForm="9999" OrderTemplatesPerUser="10" PaymentsPerOrderForm="10" ShipmentsPerOrderForm="9999" BasketsPerUser="5000" OrderAddressesPerOrderGroup="100" />
      <MappingFiles PipelineMappingFilename="OrderPipelineMappings.xml" StorageMappingFilename="OrderObjectMappings.xml" />
      <SerializationBindings>
        <SerializationBinding OldType="Microsoft.CommerceServer.Runtime.Orders.LineItem  ,    Microsoft.CommerceServer.Runtime      ,Version=6.0.1.0,Culture=neutral,    PublicKeyToken=31bf3856ad364e35" NewType="Microsoft.CommerceServer.Runtime.Orders.LineItem, Microsoft.CommerceServer.Runtime,Version=6.0.1.0,Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </SerializationBindings>
    </orders>
  </CommerceServer>

  <appSettings>
    <add key="CSMarketingService" value="http://localhost:100/MarketingWebService/marketingwebservice.asmx" />
    <add key="CSProfilesService" value="http://localhost:100/profilesWebService/profileswebservice.asmx" />
    <add key="CSOrdersService" value="http://localhost:100/ordersWebService/orderswebservice.asmx" />
    <add key="CSCatalogService" value="http://localhost:100/catalogWebService/catalogwebservice.asmx" />
    <add key="CyberSourceReportsURL" value="https://{CyberSourceServerName}/DownloadReport/{Year}/{Month}/{Day}/{CyberSourceMerchantId}/{ReportName}.{ReportFormat}" />
    <add key="IsLogging" value="True" />
    <add key="PurgeBasketThresholdInDays" value="90" />
    <add key="SiteName" value="Nextgen" />
  </appSettings>
  <system.web>
    <!-- increase default  to support larger files -->
    <httpRuntime maxRequestLength="2097151" />
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>

    <services>
      <!-- Note: the service name must match the configuration name for the service implementation. -->
      <service name="BTNextGen.Services.IOrders.IOrder" behaviorConfiguration="BTServiceBehavior" >
        <!-- Add the following endpoint.  -->
        <!-- Note: your service must have an http base address to add this endpoint. -->
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
        <!--<endpoint address="/IOrders/IOrder.svc" binding="wsHttpBinding" 
                    bindingConfiguration="BTWSHttpBinding" 
                    contract="BTNextGen.Services.IOrders.IOrdersService" 
                    name="wsHttpEndpoint" />-->
        <endpoint address="" binding="basicHttpBinding"
                  bindingConfiguration="BTBasicHttpBinding"
                  contract="BTNextGen.Services.IOrders.IOrdersService"
                  name="basicHttpEndPoint" />


      </service>
    </services>

    <bindings>
      <basicHttpBinding>
        <binding name="BTBasicHttpBinding" closeTimeout="00:10:00" openTimeout="00:10:00" sendTimeout="00:10:00" maxBufferSize="5242880" maxBufferPoolSize="5242880" maxReceivedMessageSize="5242880">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="BTWSHttpBinding" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxBufferPoolSize="5242880" maxReceivedMessageSize="5242880">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <reliableSession inactivityTimeout="00:30:00" />
          <!-- security mode="TransportWithMessageCredential" / -->
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="" binding="wsHttpBinding"
                bindingConfiguration="BTWSHttpBinding" behaviorConfiguration="BTServiceBehavior"
                contract="BTNextGen.Services.IOrders.IOrdersService"
                name="wsHttpEndpoint" />
      <endpoint address="" binding="basicHttpBinding"
                bindingConfiguration="BTBasicHttpBinding" behaviorConfiguration="BTServiceBehavior"
                contract="BTNextGen.Services.IOrders.IOrdersService"
                name="basicHttpEndPoint" />
      <!--name="wsHttpEndpoint" contract="IMetadataExchange" -->
      <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="BTServiceBehavior">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true">
      <baseAddressPrefixFilters>
        <add prefix="http://btdevnextgapp:9090"/>
      </baseAddressPrefixFilters>
    </serviceHostingEnvironment>
  </system.serviceModel>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <urlCompression doStaticCompression="true" doDynamicCompression="true" />
  </system.webServer>

</configuration>
