<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="CSMarketingService" value="http://localhost:100/TS360_MarketingWebService/marketingwebservice.asmx"/>
    <add key="CSProfilesService" value="http://localhost:100/TS360_profilesWebService/profileswebservice.asmx"/>
    <add key="CSOrdersService" value="http://localhost:100/TS360_ordersWebService/orderswebservice.asmx"/>
    <add key="CSCatalogService" value="http://localhost:100/TS360_catalogWebService/catalogwebservice.asmx"/>
    <add key ="ProductDefinition" value="BTProduct"/>
    <add key ="SiteName" value="ContemporarySite"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <services>
      <!-- Note: the service name must match the configuration name for the service implementation. -->
      <service name="BTNextGen.Services.ICatalogs.Catalogs" behaviorConfiguration="BTServiceBehavior" >
        <!-- Add the following endpoint.  -->
        <!-- Note: your service must have an http base address to add this endpoint. -->
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
        <endpoint address="" binding="basicHttpBinding"
                bindingConfiguration="BTBasicHttpBinding"
                contract="BTNextGen.Services.ICatalogs.ICatalogService"
                name="basicHttpEndPoint" />
      </service>
    </services>

    <bindings>
      <basicHttpBinding>
        <binding name="BTBasicHttpBinding" closeTimeout="00:10:00" openTimeout="00:10:00" sendTimeout="00:10:00" maxBufferSize="5242880" maxBufferPoolSize="5242880" maxReceivedMessageSize="5242880">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="BTWSHttpBinding" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxBufferPoolSize="5242880" maxReceivedMessageSize="5242880">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <reliableSession inactivityTimeout="00:30:00" />
          <!-- security mode="TransportWithMessageCredential" / -->
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="" binding="wsHttpBinding"
               bindingConfiguration="BTWSHttpBinding" behaviorConfiguration="BTServiceBehavior"
               contract="BTNextGen.Services.ICatalogs.ICatalogService"
               name="wsHttpEndpoint" />
      <endpoint address="" binding="basicHttpBinding"
                bindingConfiguration="BTBasicHttpBinding" behaviorConfiguration="BTServiceBehavior"
                contract="BTNextGen.Services.ICatalogs.ICatalogService"
                name="basicHttpEndPoint" />
       <!--name="wsHttpEndpoint" contract="IMetadataExchange" -->
      <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="BTServiceBehavior">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
       
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
</configuration>
