<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework"
      type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
      requirePermission="false"/>
    <sectionGroup name="dotNetOpenAuth" type="DotNetOpenAuth.Configuration.DotNetOpenAuthSection, DotNetOpenAuth.Core">
      <section name="openid" type="DotNetOpenAuth.Configuration.OpenIdElement, DotNetOpenAuth.OpenId" requirePermission="false" allowLocation="true"/>
      <section name="oauth" type="DotNetOpenAuth.Configuration.OAuthElement, DotNetOpenAuth.OAuth" requirePermission="false" allowLocation="true"/>
      <sectionGroup name="oauth2" type="DotNetOpenAuth.Configuration.OAuth2SectionGroup, DotNetOpenAuth.OAuth2">
        <section name="authorizationServer" type="DotNetOpenAuth.Configuration.OAuth2AuthorizationServerSection, DotNetOpenAuth.OAuth2.AuthorizationServer"
					requirePermission="false" allowLocation="true"/>
      </sectionGroup>
      <section name="messaging" type="DotNetOpenAuth.Configuration.MessagingElement, DotNetOpenAuth.Core" requirePermission="false" allowLocation="true"/>
      <section name="reporting" type="DotNetOpenAuth.Configuration.ReportingElement, DotNetOpenAuth.Core" requirePermission="false" allowLocation="true"/>
    </sectionGroup>
  </configSections>
  <dotNetOpenAuth>
    <!-- Allow DotNetOpenAuth to publish usage statistics to library authors to improve the library. -->
    <reporting enabled="true"/>
    <oauth2>
      <authorizationServer>
      </authorizationServer>
    </oauth2>

    <!-- Relaxing SSL requirements is useful for simple samples, but NOT a good idea in production. -->
    <messaging relaxSslRequirements="true">
      <untrustedWebRequest>
        <whitelistHosts>
          <!-- since this is a sample, and will often be used with localhost -->
          <add name="localhost"/>
        </whitelistHosts>
      </untrustedWebRequest>
    </messaging>
  </dotNetOpenAuth>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-BT.TS360API.WebAPI-20140213092214;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-BT.TS360API.WebAPI-20140213092214.mdf"
      providerName="System.Data.SqlClient" />
    <add name="ExceptionLogging" connectionString="Data Source=bwt-selfj03\monster;Initial Catalog=ExceptionLogging;Integrated Security=SSPI;Application Name=TS360 Web API 2;Connection Timeout=10800"
      providerName="System.Data.SqlClient" />
    <add name="Profiles" connectionString="Password=DanCao;Persist Security Info=True;User ID=dancao;Initial Catalog=Profiles;Data Source=BTDevSQL01\RepositoryLD1;Connect Timeout=10800"
      providerName="System.Data.SqlClient" />
    <add name="NextGenProfiles" connectionString="Password=P@ssword123;Persist Security Info=True;User ID=sa;Initial Catalog=Nextgen_profiles;Data Source=(local);Connect Timeout=10800"
      providerName="System.Data.SqlClient" />
    <add name="SSO" connectionString="Server=bwt-selfj03\monster;Database=SSO;User Id=ts360api;Password=T5e6o8P!;" />
    <add name="ProductCatalog" connectionString="Server=bwt-selfj03\monster;Database=ProductCatalog;User Id=ts360api;Password=T5e6o8P!;" />
    <add name="Orders" connectionString="Data Source=BTDevSQL01\RepositoryLD1;Initial Catalog=Orders;Integrated Security=SSPI;Application Name=TS360 Web API 2;Connection Timeout=10800;" />
    <add name="DbConnectionString" connectionString="Data Source=(local);AttachDbFilename=C:\_working\OAuth\Database\Database.mdf;Persist Security Info=True;User ID=sa;Password=P@ssword123;Connect Timeout=300"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="PreserveLoginUrl" value="true"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="VendorAPIKey" value="A8ANVOPM9NPYC54OHCCX7OWYD55GHH01"/>
    <add key="Environment" value="MYPC:"/>
    <!-- SD1: alert service -->
    <!--<add key="UserAlertServiceUrl" value="http://5.0.242.15:9090/IUserAlerts/UserAlerts.svc"/> -->
    <!-- LD1: alert service -->
    <add key="UserAlertServiceUrl" value="http://5.0.242.11:9090/LD2/IUserAlerts/UserAlerts.svc"/>
    <add key="ESPRankLogFolder" value="D:\Projects\NextGen\TS360\WebAPI\v2.0\BT.TS360WebAPI\_Log"/>
    <add key="ESPRankLogFilePrefix" value="esprank"/>
    <add key="ESPRankEnableTrace" value="ON"/>
    <add key="ESPDistLogFolder" value="D:\TS360\WebAPI\_Log"/>
    <add key="ESPDistLogFilePrefix" value="espdist"/>
    <add key="ESPDistEnableTrace" value="ON"/>
    
    <!-- 3.2.13 -->
    <add key="ESPRankEnableCheckCache" value="OFF"/>
    <add key="ESPDistEnableCheckCache" value="OFF"/>
    <add key="ESPEmailTo"  value="karine.liu@baker-taylor.com"/>
    <add key="ESPEmailServer"  value="5.0.110.24"/>
    <add key="ESPEmailFlag"  value="true"/>
    
    <!-- 3.2.15 -->
    <add key="ESPBaseURI"  value="http://esp.test.collectionhq.co.uk/esp/"/>
    <add key="ESPVendorKey"  value="VFMzNjBERVYxOlRTMzYwREVWMQ=="/>
    <add key="ESPVersion"  value="4.2"/>
    
    <!--CreateCart API Parameters-->

    <add key="passPhrase" value="AX1536oc0nex1on" />
    <add key="initVector" value="@8Z2l7G4t5W9i1V5" />
    <add key="VendorAPIKey" value="A8ANVOPM9NPYC54OHCCX7OWYD55GHH01"/>
    <add key="BasketLineOverallLimit" value="9999"/>
    <add key="BasketLineSplitLimit" value="9999"/>
    <add key="baseUrl" value="http://ts360dev2.baker-taylor.com/MyAccount/Pages/CartDetails.aspx?CartId="/>
    <!--<add key="passPhrase" value="Co113c$i0n#Q"/>
    <add key="initVector" value="@8Z2l7G4t5W9i1V5"/>
    -->
    <add key="CreateLocalFolder" value="Temp"/>
    <add key="CreateLogFileName" value="createlog"/>
    <add key="CreateLogFolder" value="C:\Users\selfj.BTCORP\Documents\TFS\3.2\BTNEXTGEN.SERVICES\TS360API\REST\BT.TS360WebAPI\BT.TS360API.WebAPI\Temp"/>
    <add key="CreateLogFilePrefix" value="createcartLOG"/>
    <add key="CreateREQFolder" value="C:\Users\selfj.BTCORP\Documents\TFS\3.2\BTNEXTGEN.SERVICES\TS360API\REST\BT.TS360WebAPI\BT.TS360API.WebAPI\Temp"/>
    <add key="CreateREQFilePrefix" value="createcartREQ"/>
    <add key="CreateEnableTraceLogFile" value="ON"/>
    <add key="CreateEnableTraceRequestFile" value="ON"/>
    <add key="CreateEnableTraceLogSQL" value="ON"/>
    <add key="CreateEmailExceptionFlag"  value="true"/>
    <add key="CreateEmailToExceptions"  value="selfj@baker-taylor.com"/>
    <add key="CreateEmailServer"  value="5.0.110.24"/>
    <add key="CreateSQLCommandTimeout" value="60"/>


    <!--PunchOut API Parameters-->

    <add key="PunchOutLocalFolder" value="Temp"/>
    <add key="PunchOutLogFileName" value="punchoutlog"/>
    <add key="PunchOutLogFolder" value="C:\Users\selfj.BTCORP\Documents\TFS\3.2\BTNEXTGEN.SERVICES\TS360API\REST\BT.TS360WebAPI\BT.TS360API.WebAPI\Temp"/>
    <add key="PunchOutLogFilePrefix" value="punchoutLOG"/>
    <add key="PunchOutREQFolder" value="C:\Users\selfj.BTCORP\Documents\TFS\3.2\BTNEXTGEN.SERVICES\TS360API\REST\BT.TS360WebAPI\BT.TS360API.WebAPI\Temp"/>
    <add key="PunchOutREQFilePrefix" value="po_REQ"/>
    <add key="PunchOutREQDTDFolder" value="C:\Users\selfj.BTCORP\Documents\TFS\3.2\BTNEXTGEN.SERVICES\TS360API\REST\BT.TS360WebAPI\BT.TS360API.WebAPI\Temp"/>
    <add key="PunchOutREQDTDFilePrefix" value="po_REQDTD"/>
    <add key="PunchOutRESPFolder" value="C:\Users\selfj.BTCORP\Documents\TFS\3.2\BTNEXTGEN.SERVICES\TS360API\REST\BT.TS360WebAPI\BT.TS360API.WebAPI\Temp"/>
    <add key="PunchOutRESPFilePrefix" value="po_RESP"/>
    <add key="PunchOutRESPDTDFolder" value="C:\Users\selfj.BTCORP\Documents\TFS\3.2\BTNEXTGEN.SERVICES\TS360API\REST\BT.TS360WebAPI\BT.TS360API.WebAPI\Temp"/>
    <add key="PunchOutRESPDTDFilePrefix" value="po_RESPDTD"/>
    <add key="PunchOutEnableTraceLogFile" value="ON"/>
    <add key="PunchOutEnableTraceRequestFile" value="ON"/>
    <add key="PunchOutEnableTraceRequestFileDTD" value="ON"/>
    <add key="PunchOutEnableTraceResponseFile" value="ON"/>
    <add key="PunchOutEnableTraceResponseFileDTD" value="ON"/>
    <add key="PunchOutEnableTraceLogSQL" value="ON"/>
    <add key="PunchOutEmailExceptionFlag"  value="true"/>
    <add key="PunchOutEmailToExceptions"  value="selfj@baker-taylor.com"/>
    <add key="PunchOutEmailServer"  value="5.0.110.24"/>
    <add key="PunchOutSQLCommandTimeout" value="60"/>
    <add key="PunchOutDUNS" value="@ToIdentity@"/>
    <add key="PunchOutSENDER" value="@SenderIdentity@"/>
    <add key="PunchOutSharedSecret" value="@SharedSecret@"/>
    <add key="PunchOutURL" value="https://ts360dev2.baker-taylor.com/_layouts/Commerce Server/punchout.aspx?token="/>
    <add key="PunchOutPassword" value="P@ssword123"/>
    <add key="PunchOutOrgID" value="@SharedSecret@"/>

    <!-- Distributed Cache Params -->
    <add key="ClusterServerPortString" value="VMAE743452:22233"/>
    <add key="DefaultCacheName" value="default"/> <!-- Should be the same with the name be defined in App Fabric -->
    <add key="DefaultCmCacheName" value="CM_Cache"/> <!-- Should be the same with the name be defined in App Fabric -->
    <add key="DefaultCsCacheName" value="CS_Cache"/> <!-- Should be the same with the name be defined in App Fabric -->
    <add key="DefaultCartCacheName" value="Cart_Cache"/> <!-- Should be the same with the name be defined in App Fabric -->
    <add key="SystemNotificationCacheKey" value="___TS360_SystemNotification" /> <!-- Should be the same with the name be defined in App Fabric -->
    <add key="DistributedCacheRegion" value="DEV3" /> <!-- Should be changed to appropriate environment -->

    <!-- SalesForce SSO -->
    <add key="SSOOAUTHLogFolder" value="C:\projects\log\WebApi"/>
    <add key="SSOOAUTHLogFilePrefix" value="ssoouth"/>
    <add key="SSOOAUTHEnableTrace" value="ON"/>
    <add key="SSOOAUTHTS360LoginPage" value="http://ts360dev2.baker-taylor.com/_layouts/commerceserver/loginpage.aspx"/>
    <add key="SSOOAUTHSalesForcePage" value="http://www.salesforce.com"/>
    <add key="SSOOAUTHExpirationInDays" value="120"/>
    
  </appSettings>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <authentication mode="None"/>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Optimization"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider"
          type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          connectionStringName="DefaultConnection" applicationName="/"/>
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider"
          type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false"
          requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0"
          passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider"
          type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          connectionStringName="DefaultConnection" applicationName="/"/>
      </providers>
    </roleManager>
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider"
          type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          connectionStringName="DefaultConnection"/>
      </providers>
    </sessionState>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler"
        preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.1.0.0" newVersion="5.1.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ITwoWayAsyncVoid" />
        <binding name="BasicHttpBinding_PunchOutService" />
        <binding name="BasicHttpBinding_IUserAlerts" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://btdevbiz25.btdev.com:9090/ListTransferAPIService/ListTransferAPI.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITwoWayAsyncVoid"
        contract="ServiceReferenceListTransferAPI.ListTransferAPI" name="BasicHttpBinding_ITwoWayAsyncVoid" />
      <endpoint address="http://ts360dev2.baker-taylor.com/_layouts/PunchOutService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_PunchOutService"
        contract="ServiceReferencePunchOut.PunchOutService" name="BasicHttpBinding_PunchOutService" />
      <endpoint address="http://5.0.242.11:9090/LD2/IUserAlerts/UserAlerts.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserAlerts"
        contract="ServiceReferenceUserAlerts.IUserAlerts" name="BasicHttpBinding_IUserAlerts" />
    </client>
  </system.serviceModel>
</configuration>