<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BTNextGen.Biztalk.Catalog.CommonUtil.Properties.Catalog" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="BTNextGen.Biztalk.Catalog.CommonUtil.BTKey" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <BTNextGen.Biztalk.Catalog.CommonUtil.Properties.Catalog>
            <setting name="CatalogName" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Entertainment Catalog 1</string>
                        <string>Book Catalog 1</string>
                        <string>Book Catalog 2</string>
                        <string>Book Catalog 3</string>
                        <string>Book Catalog 4</string>
                        <string>Book Catalog 5</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="MinValues" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>6000000000</string>
                        <string>0000000000</string>
                        <string>0003000001</string>
                        <string>0007000001</string>
                        <string>0010000001</string>
                        <string>7000000001</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="MaxValues" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>7000000000</string>
                        <string>0003000000</string>
                        <string>0007000000</string>
                        <string>0010000000</string>
                        <string>5999999999</string>
                        <string>9999999999</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="InventoryCat" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Catalog_1_Inventory</string>
                        <string>Catalog_2_Inventory</string>
                        <string>Catalog_3_Inventory</string>
                        <string>Catalog_4_Inventory</string>
                        <string>Catalog_5_Inventory</string>
                        <string>Catalog_5_Inventory</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ArchiveFlag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MaxProductRecord" serializeAs="String">
                <value>10</value>
            </setting>
        </BTNextGen.Biztalk.Catalog.CommonUtil.Properties.Catalog>
        <BTNextGen.Biztalk.Catalog.CommonUtil.BTKey>
            <setting name="CatalogName" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Catalog_1;Catalog_1_Inventory;0000000000;0003000000</string>
                        <string>Catalog_2;Catalog_1_Inventory;0000000000;0003000000</string>
                        <string>Catalog_3;Catalog_1_Inventory;0000000000;0003000000</string>
                        <string>Catalog_4;Catalog_1_Inventory;0000000000;0003000000</string>
                    </ArrayOfString>
                </value>
            </setting>
        </BTNextGen.Biztalk.Catalog.CommonUtil.BTKey>
    </applicationSettings>
</configuration>