<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="CSMarketingService" value="http://localhost:100/TS360_MarketingWebService/marketingwebservice.asmx"/>
    <add key="CSProfilesService" value="http://localhost:100/TS360_profilesWebService/profileswebservice.asmx"/>
    <add key="CSOrdersService" value="http://localhost:100/TS360_ordersWebService/orderswebservice.asmx"/>
    <add key="CSCatalogService" value="http://localhost:100/TS360_catalogWebService/catalogwebservice.asmx"/>
    <add key="IsLogging" value="True"/>
    <add key="PurgeBasketThresholdInDays" value="90"/>
    <add key ="SiteName" value="Nextgen"/>
    <add key="CSProfileConnectionString" value="Provider=CSOLEDB;Data Source=CS2009VM-1110;Initial Catalog=ContemporarySite_profiles;Integrated Security=SSPI;"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="BTWSHttpBinding">
          <security mode="TransportWithMessageCredential" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <remove contract="IMetadataExchange" name="mssql" />
      <remove contract="IMetadataExchange" name="sap" />
      <remove contract="IMetadataExchange" name="oracledb" />
      <remove contract="IMetadataExchange" name="oracleebs" />
      <endpoint binding="wsHttpBinding" bindingConfiguration="" contract="IMetadataExchange"
       name="wsHttpEndpoint" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

</configuration>
