<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  
  <configSections>
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
      <section name="errorTweet" requirePermission="false" type="Elmah.ErrorTweetSectionHandler, Elmah" />
    </sectionGroup>

    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    
    <section name="dataCacheClient" type="Microsoft.ApplicationServer.Caching.DataCacheClientSection, Microsoft.ApplicationServer.Caching.Core, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" allowLocation="true" allowDefinition="Everywhere" />

    <section name="clusterDefinition" type="BT.FSIS.Configuration.ClusterDefinitionSectionHandler, BT.FSIS, Version=1.0.0.0, Culture=neutral, PublicKeyToken=aae20afbbe14a27c" />
    
  </configSections>

  <dataCacheClient requestTimeout="60000" channelOpenTimeout="3000" maxConnectionsToServer="1">

    <localCache isEnabled="false" sync="TimeoutBased" ttlValue="300" objectCount="10000"/>
    <clientNotification pollInterval="300" maxQueueLength="10000"/>

    <hosts>
      <!-- should be changed to same value with "CacheClusterServer" in GlobalConfiguration list, each server + port in one line -->
      <host name="VMAE743452" cachePort="22233"/>
    </hosts>
    <securityProperties mode="Transport" protectionLevel="EncryptAndSign" />
    <transportProperties connectionBufferSize="131072" maxBufferPoolSize="268435456"
						   maxBufferSize="8388608" maxOutputDelay="2" channelInitializationTimeout="60000"
						   receiveTimeout="600000"/>
  </dataCacheClient>


  <log4net>
    <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\PEDebugTrace.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="50" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG" />
        <levelMax value="FATAL" />
      </filter>
    </appender>
    <root>
      <level value="INFO" />
      <appender-ref ref="FileAppender" />
    </root>
  </log4net>

  <clusterDefinition>
    <cluster name="LC Classification" navigator="nglcclassnavigator" />
    <cluster name="Dewey Range" navigator="ngdeweyrangenavigator" />
    <cluster name="BISAC Subject" navigator="ngsubjectnavigator" sort="HitCount" />
    <cluster name="Reading Count" navigator="ngreadcountnavigator" sort="HitCount" />
    <cluster name="Product Type" navigator="ngproducttypenavigator" sort="HitCount" />
    <cluster name="Accelerated Reader" navigator="ngaccelreadernavigator" sort="HitCount" />
    <cluster name="Included 1 Format" navigator="ngincludedformatnavigator" sort="HitCount" />
    <cluster name="Audience" navigator="ngaudiencenavigator" />
    <cluster name="Rating" navigator="ngmusicmovieratingnavigator" sort="HitCount" />
    <cluster name="Movie Genre" navigator="ngmoviegenrenavigator" sort="HitCount" />
    <cluster name="Music Genre" navigator="ngmusicgenrenavigator" sort="HitCount" />
    <cluster name="Review Publication" navigator="ngreviewpubnavigator" sort="HitCount" />
    <cluster name="Language" navigator="nglanguagenavigator" sort="HitCount" />
    <cluster name="Merchandising Category" navigator="ngmerchcatnavigator" sort="HitCount" />
    <cluster name="Product Features" navigator="ngproductfeaturesnavigator" sort="HitCount" />
    <cluster name="Publish Date" navigator="ngpubdatenavigator" sort="HitCount" />
    <cluster name="Date Published / Released" navigator="ngpubdaterangenavigator" sort="HitCount" />
    <cluster name="E-Content Platform" navigator="ngecontentplatformnavigator" sort="HitCount" />
    <cluster name="eSupplier" navigator="ngesuppliernavigator" sort="HitCount" />
    <cluster name="Form Details" navigator="ngformdetailsnavigator" sort="HitCount" />
    <cluster name="E-Book Purchase Option" navigator="ngpurchaseoptionnavigator" sort="HitCount" />
    <cluster name="Product Attribute" navigator="ngprimaryattributesnavigator" />

    <cluster name="Stock Level" navigator="ngstockafacetnavigator" sort="HitCount" />
    <cluster name="Stock Level" navigator="ngstocklefacetnavigator" sort="HitCount" />
    <cluster name="Stock Level" navigator="ngstockdfacetnavigator" sort="HitCount" />
    <cluster name="Demand" navigator="ngdemandfacetnavigator" sort="HitCount" />

  </clusterDefinition>
  
  <connectionStrings>
    
    <!-- Change this connection string to appropriate value when deployment -->
    <add name="ElmahErrorLog" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=ExceptionLogging;Data Source=(local);Connect Timeout=300" providerName="System.Data.SqlClient" />
    
  </connectionStrings>

  <elmah>
    <security allowRemoteAccess="0" />
    <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="ElmahErrorLog" />
  </elmah>
  
  <appSettings>
    <add key="APIPassPhrase" value="TS360WebAPIPassPhrase" />
    
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <add key="TS360SiteUrl" value="vmae743452:6581" />
    <add key="AllowedHeaderForAuthentication" value="*" />
    <add key="AllowedMethodForAuthentication" value="*" />
    <add key="PassPhraseForAuthentication" value="ts360webapivector" />

    <add key="DistributedCacheName" value="BT_Default" />
    <add key="DistributedCacheRegion" value="DEV3" />
    <add key="DistributedCacheDuration" value="480" />

    <add key="NextGenProfilesConnectionString"
         value="Password=DanCao;Persist Security Info=True;User ID=dancao;Initial Catalog=Nextgen_profiles;Data Source=BTDevSQL01\RepositoryLD1;Connect Timeout=3000" />
    <add key="MarketingConnectionString"
         value="Password=DanCao;Persist Security Info=True;User ID=dancao;Initial Catalog=Nextgen_marketing;Data Source=BTDevSQL01\RepositoryLD1;Connect Timeout=3000" />
    <add key="ProductCatalog_ConnectionString"
         value="Password=DanCao;Persist Security Info=True;User ID=dancao;Initial Catalog=ProductCatalog;Data Source=BTDevSQL01\RepositoryLD1;Connect Timeout=3000" />
    <add key="OrderDbConnString"
         value="Password=DanCao;Persist Security Info=True;User ID=dancao;Initial Catalog=Orders;Data Source=BTDevSQL01\RepositoryLD1;Connect Timeout=3000" />
    <add key="Logs_ConnectionString"
         value="Persist Security Info=False;Initial Catalog=ExceptionLogging;Data Source=(local);Connect Timeout=300" />
    <add key="Profiles_ConnectionString"
         value="Password=DanCao;Persist Security Info=True;User ID=dancao;Initial Catalog=Profiles;Data Source=BTDevSQL01\RepositoryLD1;Connect Timeout=3000" />


    <add key="NoSQLApiUrl_CartInventoryFacet" value="" />
    <add key="SuperWarehouseInventoryThreshold" value="" />
    <add key="CSProductCatalog_ConnectionString" value="Password=DanCao;Persist Security Info=True;User ID=dancao;Initial Catalog=NextGen_ProductCatalog;Data Source=BTDevSQL01\RepositoryLD1;Connect Timeout=300" />

    <add key="SiteTermApiUrl" value="http://5.0.242.15:8012/ld1" />
    <add key="FAST_Url" value="http://128.11.98.234/FSISWDM.ASHX" />
    <add key="MaxLinesPerCart" value="9999" />
    <add key="Pricing_Batch_WaitingTime" value="100"/>
    <add key="PricingSqlCmdTimeout" value="3000" />
    <add key="PromotionServiceBatchSize" value="300" />
    <add key="GaleLiteral" value="Gale" />
    <add key="RealTime_WS_SysID" value="NEXTGEN" />
    <add key="RealTime_WS_SysPass" value="N@xtG3n" />
    <add key="PricingService_URL" value="http://edidev.btol.com/BTPricingServices/BTPricingServices.asmx" />
    <add key="PromotionService_Url" value="http://ts360dev.baker-taylor.com/_layouts/PromotionService.svc" />
    <add key="NoSQLApiUrl_InventoryDemand" value="http://5.0.242.15:8012/LD1/products/inventorydemand" />
    <add key="NoSQLApiUrl_DemandHistory" value="http://5.0.242.15:8012/LD1/products/inventorydemand" />
    <add key="NoSQLApiUrl_NRCProductInfo" value="http://5.0.242.15:8012/LD1/products/NewReleaseCalendarProductInfo" />
    <add key="DemandBucketCachingMinutes" value="5"/>
    <add key="Auto_Suggest_Collection" value="autosuggestsppublished"/>
    <add key="Search_View_Item" value="sd1sppublished"/>
    <add key="Com.FastSearch.Esp.Search.Http.QRServers" value="5.0.242.24:15100" />
    <add key="PublishingURL" value="/sites/publishing"/>
    <add key="CollaborationURL" value="/sites/collaboration"/>
    <add key="InternetSiteURL" value="http://localhost:6581"/>
    <add key="AuthSiteURL" value="http://vmae743452:6580"/>
    <add key="DataFixSendToMail" value="nluu3@csc.com"/>
    <add key="SmtpServer" value="5.0.110.24"/>
    <add key="OCSIdentifier" value="TS360"/>
    <add key="TitleSourceSiteUrl" value="titlesource360dev.baker-taylor.com"/>

    <!-- ContenCafeCloud DEV/QA: 13A0F97D-6E75-4883-9692-351E7597B17A
        PE/PROD: 7B77E78B-EB0A-4426-848F-16E786F9AA16 -->
    <add key="ContenCafeCloudImage_ConnectionString" value="https://contentcafeau.azureedge.net/Jacket.svc/{0}/{1}/{2}/Logo"/>
    <add key="ContenCafeCloudImage_NextGen_SystemId" value="13A0F97D-6E75-4883-9692-351E7597B17A"/>
    <add key="ContenCafeCloudImage_Size_Small" value="Small"/>
    <add key="ContenCafeCloudImage_Size_Medium" value="Medium"/>
    <add key="ContenCafeCloudImage_Size_Large" value="Large"/>

    <add key="DebugTrace" value="true"/>
    
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />

    <httpModules>

      <!-- Elmah Configuration -->
      <add name="FixIIS5xWildcardMapping" type="Elmah.FixIIS5xWildcardMappingModule, Elmah" />
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <!-- End Elmah Configuration -->
      
    </httpModules>
  </system.web>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>

    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
    </modules>
  </system.webServer>

  <system.serviceModel>
    <bindings >
      <basicHttpBinding>
        <binding name="ProfilesWebServiceSoap" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Ntlm" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="StockCheckSoap" closeTimeout="00:00:30" openTimeout="00:00:30" receiveTimeout="00:00:30" sendTimeout="00:00:30">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
        </binding>
        <binding name="ContentCafeSoap12" >
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:100/TS360_ProfilesWebService/ProfilesWebService.asmx" binding="basicHttpBinding" 
                bindingConfiguration="ProfilesWebServiceSoap" contract="CSProfileServiceReference.ProfilesWebServiceSoap" 
                name="ProfilesWebServiceSoap" />

      <endpoint address="http://edidev.btol.com/BTStockCheckServices/BTStockCheckServices.asmx"
                binding="customBinding" bindingConfiguration="StockCheckSoap"
                contract="BTStockCheckServices.StockCheckSoap" name="StockCheckSoap" />
      <endpoint address="http://contentcafe2.btol.com/ContentCafe/ContentCafe.asmx"
        binding="customBinding" bindingConfiguration="ContentCafeSoap12"
        contract="contentcafe2.ContentCafeSoap" name="ContentCafeSoap12" />
      
    </client>
  </system.serviceModel>
  
</configuration>
